.header {
    margin-top: 100px;
    display: flex;
    width: 90%;
    margin-left: 100px;
    flex-wrap: wrap;
}

.header .header1 {
    height: 500px;
    width: 40%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px 0px 0px 20px;
}

.header1 h2 {
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
    width: 500px;
    font-size: 40px;

}

.header1 p {
    color: #fff;
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    text-align: start;
    width: 500px;
    font-size: 25px;

}

.header button {
    margin-left: 30px;
    margin-top: 30px;
    background-color: #fee36f;
    color: rgb(3, 3, 3);
    padding: 15px;
    border-radius: 30px;
    font-size: 19px;
    border: none;
    cursor: pointer;
}

.header button:hover {
    background-color: rgb(0, 0, 177);
    color: #fff;
}

.header2 {
    /* height: 500px; */
    width: 60%;
}

.header2 img {
    border-radius: 0px 20px 20px 0px;
    height: 500px;
    width: 100%;
}

/* media quary    768*/

@media only screen and (max-width: 768px) {

    .header {
        width: 100%;
        margin: 0;
    }

    .header .header1 {
        height: 400px;
        width: 100%;
        border-radius: 0px 0px 0px 0px;
        text-align: center;
    }

    .written {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .header1 h2 {
        text-align: center;
        width: 600px;
    }

    .header1 p {
        text-align: center;
        width: 500px;
    }

    .btn {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .btn button {
        margin: 10px 0px 10px 0px;
    }

    .header2 {
        width: 100%;
    }

    .header2 img {
        height: 400px;
        border-radius: 0px 0px 0px 0px;
    }
}

/* 460px */
@media only screen and (max-width: 460px) {
    .header .header1 {
        height: 400px;

    }

    .header1 h2 {
        width: 600px;
        font-size: 35px;
    }

    .header1 p {
        width: 500px;
        font-size: 23px;

    }

    .header2 img {
        height: 350px;
    }
}

/* 406px */
@media only screen and (max-width: 406px) {


    .header1 h2 {
        width: 600px;
        font-size: 29px;
    }

    .header1 p {
        width: 500px;
        font-size: 23px;

    }


}

/* media quary    424px*/

@media only screen and (max-width: 424px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }

    .header .header1 {
        height: 500px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        border-radius: 0px 0px 0px 00px;
    }

    .written {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header1 h2 {
        width: 650px;
    }

    .header1 p {
        width: 500px;
        font-size: 25px;

    }

    .header button {
        margin-left: 30px;
        margin-top: 30px;
        background-color: #fee36f;
        color: rgb(3, 3, 3);
        padding: 15px;
        border-radius: 30px;
        font-size: 19px;
        border: none;
        cursor: pointer;
    }

    .header button:hover {
        background-color: rgb(0, 0, 177);
        color: #fff;
    }

    .header2 {
        /* height: 500px; */
        width: 100%;
    }

    .header2 img {
        border-radius: 0px 0px 0px 0px;
        height: 400px;
        width: 100%;
    }
}

/* 382px */
@media only screen and (max-width: 382px) {
    .header1 h2 {
        width: 600px;
        font-size: 32px;
    }

    .header1 p {
        width: 600px;
        font-size: 22px;

    }
}

/* 375px */
@media only screen and (max-width: 375px) {
    .header1 h2 {
        width: 600px;
        font-size: 30px;
    }

    .header1 p {
        width: 500px;
        font-size: 25px;

    }
}

/* 352px */
@media only screen and (max-width: 352px) {
    .header .header1 {
        height: 400px;

    }

    .header1 h2 {
        width: 600px;
        font-size: 28px;
    }

    .header1 p {
        width: 500px;
        font-size: 20px;

    }

    .header2 img {
        height: 350px;
    }
}

/* 332px */
@media only screen and (max-width: 332px) {
    .header .header1 {
        height: 400px;

    }

    .header1 h2 {
        width: 600px;
        font-size: 27px;
    }

    .header1 p {
        width: 500px;
        font-size: 20px;

    }

    .header2 img {
        height: 350px;
    }
}

/* 320px */
@media only screen and (max-width: 320px) {


    .header1 h2 {
        width: 600px;
        font-size: 25px;
    }

    .header1 p {
        width: 500px;
        font-size: 19px;

    }

    .header2 img {
        height: 350px;
    }
}