label {
    margin-top: 190px;
    font-size: 20px;
    color: aliceblue;
    /* margin: auto; */
    text-align: center;
    margin-left: 30px;
}

.box {
    background-image: url(https://pbs.twimg.com/media/EXMkyOpUcAAekpK.jpg);
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
}

.check input {
    position: relative;
    left: 330px;
    bottom: 27px;
    opacity: 0.0;
}

i {
    position: relative;
    left: 310px;
    bottom: 28px;
}